<!DOCTYPE html>
<html>
<head>
<style>
body{
    color: #8e9194;
    background-color: #f4f6f9;
    height: 100%;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.avatar-xl img {
    width: 110px;
}
.rounded-circle {
    border-radius: 50% !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.text-muted {
    color: #aeb0b4 !important;
}
.text-muted {
    font-weight: 300;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4d5154;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #eef0f3;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#parent {
  max-height: 200px;
  overflow-y: hidden;
}

#child1 {
  width: 200px;
  height: 300px;
  float: left;
  margin: 1.5em;
  text-align: center;
}
#child2 {
  width: 400px;
  height: 300px;
  float: left;
}
.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px
}
#err{
    padding: 10px 5px;
    text-align: center;

    background-color: yellow !important;
}
</style>
</head>
<body>
<div class="container">
<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">
        <div class="mb-2">
            <h2 class="h3 page-title">Account Setting</h2>
            <div class="row mt-3 align-items-center" id="parent">
                <div class="col" id="child1" >
                    <div class="avatar avatar-xl">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="..." class="avatar-img rounded-circle" />
                    </div>
                    <h3 class="mb-1 align-text-center">{{user.Username}}</h3>
                </div>
                <div class="col" id="child2">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <h2>
                               {{user.Name}}
                            </h2>
                        </div>
                        <div class="col-md-4">
                            <h4>
                               Địa chỉ: {{user.Address}}
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <h4>
                               Email: {{user.Email}}
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <h4>
                               Ngày sinh: {{user.birth}}
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="bar">
                </div>
            </div>
            {{#if err_message}}
               <div class="alert alert-warning alert-dismissible fade show" id="err" role="alert">
                 <strong>Change Failed!</strong> {{err_message}}
               </div>
            {{/if}}
            <form method="post" action="/account/changeinfo">
                <hr class="my-4" />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstname">FullName</label>
                        <input type="text" name="name" class="form-control" placeholder="{{user.Name}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="{{user.Email}}" />
                </div>
                <div class="form-group">
                    <label for="inputAddress5">Address</label>
                    <input type="text" class="form-control" name="address" placeholder="{{user.Address}}" />
                </div>
                <div class="form-group">
                    <label for="start">Birthday:</label>
                    <input type="date" class="form-control" min="1900-01-01" max="2021-12-12" name="birthday" value={{user.Birthday}} />
                </div>
                <div>
                    <button type="submit" class="btn btn-success my-3">Save Change</button>
                </div>
                <hr class="my-4" />
            </form>

            <form method="post" action="/account/changepass">
                <div class="row mb-4">
                    <div class="form-group">
                        <label for="inputPassword4">Old Password</label>
                        <input type="password" class="form-control" name="oldpass" />
                    </div>
                    <div class="form-group">
                        <label for="inputPassword5">New Password</label>
                        <input type="password" class="form-control" name="newpass" />
                    </div>
                    <div class="form-group">
                        <label for="inputPassword6">Confirm Password</label>
                        <input type="password" class="form-control" name="confirmpass" />
                    </div>
                    <div class="col-md-6">
                        <p >Password requirements</p>
                        <p class="small text-muted mb-1">To create a new password, you have to meet all of the following requirements:</p>
                        <ul class="small text-muted pl-4 ">
                            <li>Minimum 8 character</li>
                            <li>At least one special character</li>
                            <li>At least one number</li>
                            <li>Can’t be the same as a previous password</li>
                        </ul>
                    </div>

                    <div>
                       <button type="submit" class="btn btn-success">Save Change</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</div>
</body>
</html>