<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction Online</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" href="/seller">
        <i class="fa fa-home fa-lg" aria-hidden="true"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/seller">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-expanded="false">
                    Sản phẩm của tôi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/seller/myproducts/byPostingList"><h6>Sản phẩm đang đăng</h6></a>
                    <a class="dropdown-item" href="/seller/myproducts/byWonList"><h6>Sản phẩm đấu giá thành công</h6></a>
                    <a class="dropdown-item" href="/seller/myproducts/add"><h6>Thêm sản phẩm mới</h6></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-expanded="false">
                    Danh sách sản phẩm
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/seller/products/byWatchList"><h6>Sản phẩm yêu thích</h6></a>
                    <a class="dropdown-item" href="/seller/products/byAuctionList"><h6>Sản phẩm đang đấu giá</h6></a>
                    <a class="dropdown-item" href="/seller/products/byWinningList/{{child.CategoryID}}"><h6>Sản phẩm đã thắng</h6></a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 mr-sm-2" method="post" action="/seller/products/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="Name">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
                Tìm kiếm
            </button>
        </form>
        <div class="dropdown my-2 my-lg-0">
            <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <b>{{authUser.name}}!</b>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/products/byCat/{{child.CategoryID}}"><h6>Đánh giá sản phẩm</h6></a>
                <a class="dropdown-item" href="/account"><h6>Thông tin cá nhân</h6></a>
                <a class="dropdown-item" href="/account/logout"><h6>Logout</h6></a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    <h4><a href="/seller/products">Danh mục</a></h4>
                </div>
                {{#each lcParentCat as |parent|}}
                    <div class="btn-group" style="border-style: solid; border-width: 1px">
                        <button type="button" class="btn btn-outline text-left"  data-toggle="dropdown">
                            <h4>{{parent.Name}}</h4>
                        </button>
                        <div class="dropdown-menu w-100">
                            {{#each ../lcChildCat as |child|}}
                                {{#if (isChild child.ParentID parent.CategoryID)}}
                                    <a class="dropdown-item" href="/bidder/products/byCat/{{child.CategoryID}}"><h6>{{child.Name}}</h6></a>
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <div class="col-sm-9">
            {{{body}}}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
</body>
</html>