<div class="card text-center" style="background-color: #f2ca8b" >
    <h4 class="card-header d-flex justify-content-between">
        Sản phẩm
    </h4>
    <div class="card-body">
        {{#if this.empty}}
            <h5 class="card-title">Không có dữ liệu</h5>
        {{else}}
            <div class="row">
                {{#each this.products}}
                    <div class="col-sm-4 mb-3">
                        <div class="card h-100">
                            <div class="card-header">
                                <h4>{{Name}}</h4>
                                <h6 style="color: dimgray">Ngày đăng: {{DateUpload}}</h6>
                                <h6 style="color: dimgray">Còn lại: {{DateExpired}}</h6>
                            </div>
                            <img  class="card-img-top" src="/image/products/{{ID}}-main.jpg"  alt="{{Name}}"
                                  title="{{Name}}">
                            <div class="card-body">
                                <h5 class="card-text text-danger mt-3">Giá hiện tại: {{format_number PresentPrice}}
                                    &#x20AB;</h5>
                                <h5 class="card-text text-danger">Giá mua ngay: {{format_number PriceBuyNow}}&#x20AB;</h5>
                                {{#if (isNotNull HighestBidder)}}
                                    <h5 class="card-text text-success mt-3">Bidder đang đặt giá cao nhất: {{HighestBidder}}</h5>
                                {{else}}
                                    <h5 class="card-text text-success mt-3">Chưa có người ra giá</h5>
                                {{/if}}
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <h6 class="mt-2">Lượt: {{Turn}}</h6>
                                <span>
                                <a class="btn btn-sm btn-primary mt-1 mb-1" href="/seller/myproducts/bySuccessfulAuctionList/{{ID}}" role="button">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <span>Chi tiết</span>
                                </a>
                                <a class="btn btn-sm btn-danger mt-1 mb-1" href="#" role="button">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    <span>Hủy giao dịch</span>
                                </a>
                                </span>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <script type="text/javascript">
                        function add(value, valueToAdd){
                            value += valueToAdd;
                            if(value<=0)
                                return 1;
                        };
                    </script>
                    <li class="page-item">
                        <a class="page-link" href="?page=javascript:add(page,-1)">Previous</a>
                    </li>
                    {{#each this.pageNumbers}}
                        {{#if isCurrent}}
                            <li class="page-item active">
                                <a class="page-link" href="javascript:;">{{value}}</a>
                            </li>
                        {{else}}
                            <li class="page-item">
                                <a class="page-link" href="?page={{value}}">{{value}}</a>
                            </li>
                        {{/if}}
                    {{/each}}
                    <li class="page-item">
                        <a class="page-link" href="?page=javascript:add(page,1)">Next</a>
                    </li>
                </ul>
            </nav>
        {{/if}}
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>