<div class="card text-center">
    <h4 class="card-header d-flex justify-content-between">
        Sản phẩm
    </h4>
    <div class="card-body">
        {{#if this.empty}}
            <h5 class="card-title">Không có dữ liệu</h5>
        {{else}}
            <div class="row">
                {{#each this.products}}
                    <div class="col-sm-4 mb-3">
                        <div class="card h-100">
                            <div class="card-header">
                                <h4>{{Name}}</h4>
                            </div>
                            <div class="card-body">
                                <img src="/image/products/{{ID}}-main.jpg" width="300" height="200"  alt="{{Name}}" title="{{Name}}">
                                <h5 class="card-text text-danger mt-3">{{format_number PriceBuyNow}}&#x20AB;</h5>
                                <p class="card-text mt-2 align-bottom">{{Description}}</p>
                            </div>
                            <div class="card-footer text-right">
                                <a class="btn btn-secondary disabled" href="#" role="button" disabled>
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    <span>Mua ngay</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>