<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction Online</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" href="/">
        <i class="fa fa-home fa-lg" aria-hidden="true"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="post" action="/products/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="Name">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
                Tìm kiếm
            </button>
        </form>
    </div>
</nav>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-header">
                    <h3 style="text-align: center">Thông tin sản phẩm</h3>
                </div>
                <div class="card-body">
                    <p class="card-title" style="font-weight: bolder; font-size: large">Tên sản phẩm:
                        <span class="card-text">{{this.product.Name}}</span>
                    </p>
                    <p class="card-title" style="font-weight: bolder; font-size: large">Người bán:
                        <span class="card-text">{{this.product.Seller}}</span>
                    </p>
                    <p class="card-title" style="font-weight: bolder; font-size: large">Giá hiện tại:
                        <span class="card-text">{{this.product.PresentPrice}}</span>
                    </p>
                    <p class="card-title" style="font-weight: bolder; font-size: large">Giá mua ngay:
                        <span class="card-text">{{this.product.PriceBuyNow}}</span>
                    </p>
                    <p class="card-title" style="font-weight: bolder; font-size: large">Người đang đặt giá cao nhất:
                        <span class="card-text">{{this.product.HighestBidder}}</span>
                    </p>
                    <p class="card-title" style="font-weight: bolder; font-size: large">Thời điểm đăng:
                        <span class="card-text">{{this.product.DateUpload}}</span>
                    </p>
                    <p class="card-title" style="font-weight: bolder; font-size: large">Thời điểm kết thúc:
                        <span class="card-text">{{this.product.DateExpired}}</span>
                    </p>
                    <p class="card-title" style="font-weight: bolder; font-size: large">Mô tả:
                        <span class="card-text">{{this.product.Description}}</span>
                    </p>
                </div>
                <!--                <div class="card-footer text-muted">-->
                <!--                    Footer-->
                <!--                </div>-->
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="card">
        <div class="card-header">
            <h4>Sản phẩm khác</h4>
        </div>
        <div class="card-body">
            <div class="row" style="text-align: center">
                {{#each this.sameproducts}}
                    <div class="col-sm-4 mb-3">
                        <div class="card h-100">
                            <div class="card-header">
                                <h4>{{Name}}</h4>
                            </div>
                            <div class="card-body">
                                <img src="/image/products/{{ID}}-main.jpg" width="300" height="200" alt="{{Name}}"
                                     title="{{Name}}">
                                <h5 class="card-text text-danger mt-3">Giá hiện tại: {{format_number PresentPrice}}
                                    &#x20AB;</h5>
                                <h5 class="card-text text-danger">Giá mua ngay: {{format_number PriceBuyNow}}&#x20AB;</h5>
                                <h5 class="card-text text-success mt-3">Bidder đang đặt cao nhất: {{HighestBidder}}</h5>
                                <p class="card-text mt-2 align-bottom mt-3">{{Description}}</p>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <h5 class="mt-2">Lượt: {{Turn}}</h5>
                                <span>
                                <button type="submit" class="btn btn-secondary" formaction="/admin/categories/del"
                                        disabled>
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    Xoá
                                </button>
                                <a class="btn btn-primary" href="/products/{{ID}}" role="button">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <span>Chi tiết</span>
                                </a>
                                <a class="btn btn-secondary disabled" href="#" role="button">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    <span>Mua ngay</span>
                                </a>
                            </span>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
</body>
</html>