<div class="card text-center" style="background-color: #e0c1f2" >
    <h4 class="card-header" style="background-color: #b7aef2; text-align: center; color: #9A0680; font-weight: bold">
        Sản phẩm
    </h4>
    <div class="card-body">
        <div class="row">
            {{#each this.products}}
                <div class="col-sm-4 mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4>{{Name}}</h4>
                            <h6 style="color: dimgray">Ngày đăng: {{DateUpload}}</h6>
                            <h6 style="color: dimgray">Còn lại: {{DateExpired}}</h6>
                        </div>
                        <div class="card-body">
                            <img  class="card-img-top" src="/image/products/{{ID}}-main.jpg"  alt="{{Name}}"
                                                          title="{{Name}}">
                            <h5 class="card-text text-danger mt-3">Giá hiện tại: {{format_number PresentPrice}}
                                &#x20AB;</h5>
                            <h5 class="card-text text-danger">Giá mua ngay: {{format_number PriceBuyNow}}&#x20AB;</h5>
                            {{#if (isNotNull HighestBidder)}}
                            <h5 class="card-text text-success mt-3">Bidder đang đặt giá cao nhất: {{HighestBidder}}</h5>
                            {{else}}
                            <h5 class="card-text text-success mt-3">Chưa có người ra giá</h5>
                            {{/if}}
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <h5 class="card-text my-auto bg-warning " style="width: 110px; height: 60px, padding 15px 10px">Lượt ra giá: {{Turn}}</h5>
                            <span>
                                <a class="btn btn-primary my-2" href="/bidder/products/{{ID}}"  role="button">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <span>Chi tiết</span>
                                </a>
                                {{#if (isFalse isLoved)}}
                                    <a class="btn btn-success" href="/bidder/products/love/{{ID}}" style="background-color:#A3E4DB;" role="button">
                                         <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                    </a>
                                {{else}}
                                    <a class="btn btn-success" href="/bidder/products/unlove/{{ID}}" style="background-color:#D77FA1;" role="button">
                                         <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                    </a>
                                {{/if}}
                            </span>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <script type="text/javascript">
                    function add(value, valueToAdd){
                        value += valueToAdd;
                        if(value<=0)
                            return 1;
                    };
                </script>
                <li class="page-item">
                    <a class="page-link" href="?page=javascript:add(page,-1)">Previous</a>
                </li>
                {{#each this.pageNumbers}}
                    {{#if isCurrent}}
                        <li class="page-item active">
                            <a class="page-link" href="javascript:;">{{value}}</a>
                        </li>
                    {{else}}
                        <li class="page-item">
                            <a class="page-link" href="?page={{value}}">{{value}}</a>
                        </li>
                    {{/if}}
                {{/each}}
                <li class="page-item">
                    <a class="page-link" href="?page=javascript:add(page,1)""">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>