<div class="card text-center" style="background-color: #e0c1f2">
    <h4 class="card-header" style="background-color: #b7aef2; text-align: center; color: #9A0680; font-weight: bold">
        Sản phẩm
    </h4>
    <div class="card-body">
        <div class="row">
            {{#each this.products}}
                <div class="col-sm-4 mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4>{{Name}}</h4>
                            <h6 style="color: dimgray">Ngày đăng: {{DateUpload}}</h6>
                        </div>
                        <img  class="card-img-top" src="/image/products/{{ID}}-main.jpg"  alt="{{Name}}"
                              title="{{Name}}">
                        <div class="card-body">
                            <h5 class="card-text text-danger mt-3">Giá hiện tại: {{format_number PresentPrice}}
                                &#x20AB;</h5>
                            <h5 class="card-text text-danger">Giá mua ngay: {{format_number PriceBuyNow}}&#x20AB;</h5>
                            {{#if (isNotNull HighestBidder)}}
                                <h5 class="card-text text-success mt-3">Bidder đang đặt giá cao nhất: {{encryptBidder HighestBidder}}</h5>
                            {{else}}
                                <h5 class="card-text text-success mt-3">Chưa có người ra giá</h5>
                            {{/if}}
                            <p class="card-text mt-2 align-bottom mt-3">{{TinyDes}}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <h5 class="card-text my-auto bg-warning" style="width: 130px; height: 36px; padding-top: 6px">Lượt ra giá: {{Turn}}</h5>
                            <span>
                                <a class="btn btn-primary" href="/products/{{ID}}" role="button">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <span>Chi tiết</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item">
                    {{#if this.firstPage}}
                        <a class="page-link disabled" style="cursor: not-allowed;">Previous</a>
                    {{else}}
                        <a class="page-link" href="?page={{this.previousPage}}">Previous</a>
                    {{/if}}
                </li>
                {{#each this.pageNumbers}}
                    {{#if isCurrent}}
                        <li class="page-item active">
                            <a class="page-link" href="javascript:;">{{value}}</a>
                        </li>
                    {{else}}
                        <li class="page-item">
                            <a class="page-link" href="?page={{value}}">{{value}}</a>
                        </li>
                    {{/if}}
                {{/each}}
                <li class="page-item">
                    {{#if this.lastPage}}
                        <a class="page-link" style="cursor: not-allowed;">Next</a>
                    {{else}}
                        <a class="page-link" href="?page={{this.nextPage}}">Next</a>
                    {{/if}}
                </li>
            </ul>
        </nav>
    </div>
</div>